

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @user.birthday %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @user.postal_code %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<table>
  <thead>
    <tr>
      <th>msg</th>      
      <th>time</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.posts.each do |post| %>
      <tr>
        <td><%= post.msg %></td>
        <td><%= post.updated_at %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


  <%= link_to 'Back', users_path %> |
<%= link_to 'CreatePost', new_post_path(:id=>@user.id) %>

 
