<p id="notice"><%= notice %></p>
<h1>Delete complete</h1>
<p>
  <strong>User:</strong>
  <%= @post.user_id %>
</p>

<p>
  <strong>Msg:</strong>
  <%= @post.msg %>
</p>

<p>
  <strong>Postdate:</strong>
  <%= @post.postDate %>
</p>
<% user = User.find_by id: @post.user_id %>
<%= link_to 'Back', "/nmain?email=#{user.email}&password=#{user.password}" %>
